$LOCAL: documentation;

:host {
  // Example local variable, using BEM format
  // --cp-documentation--Property: value;

  display: block;
}

:host([hidden]) {
  display: none;
}

//-- Custom styles applied by attributes
// @each $option in () {
//   :host([pfe-loaded="#{$option}"]) {
//     // Add styles here
//   }
// }

// @each $option in () {
//   :host([pfe-endpoint="#{$option}"]) {
//     // Add styles here
//   }
// }

// @each $option in () {
//   :host([pfe-css="#{$option}"]) {
//     // Add styles here
//   }
// }

@import "../node_modules/pantheon-front-end/scss/rhdocs.scss";
